        </main>
    </div>
    <footer>
        <p>
            Made by Paweł Korobczyński
        </p>
    </footer>

    <script src="/scripts/header.js"></script>
    <script src="/scripts/createTournament.js"></script>
    <script src="/scripts/showTournament.js"></script>
</body>
</html>