<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Service</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/partials/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/inputForm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/partials/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index/register.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tournaments/new.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tournaments/index.css">
</head>
<body>
    <div class="content" >
        <header>
            <% if ( currentUser ) { %>
                <div class="loginPopUp">
                    <i class="fas fa-user"></i>
                    <div class="loginPopUpInfo">
                        <p class="userWelcome">Hello <span class="usernameLabel"><%= currentUser.dataValues.name %></span>!</p>
                        <a href=""><i class="fas fa-arrow-right"></i>Signed up tournaments...</a>
                        <a href=""><i class="fas fa-arrow-right"></i>Owned tournaments...</a>
                        <form action="/logout?_method=DELETE" method="POST" >
                            <input type="submit" value="LOG OUT" />
                        </form>
                    </div>
                </div>
            <% } %>
            <nav>
                <ul class="navList">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/tournaments/new">CREATE TOURNAMENT</a></li>
                    <li><a href="/tournaments/page/1">SHOW TOURNAMENTS</a></li>
                    <% if ( !currentUser ) { %>
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/register">REGISTER</a></li>
                    <% } else { %>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST" >
                                <input type="submit" value="LOG OUT" />
                            </form>
                        </li>
                    <% } %>
                    
                </ul>
                <div class="collapse">
                    <div class="brand">
                        <i class="fas fa-trophy" id="iconBrand"></i>
                        <p>Tournament Service</p>
                    </div>
                    <button id="navButton">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                </div>
            </nav>
            <div class="mobileDevContainer"></div>
            
            <% if ( messages.error ) { %>
                <h1><%= messages.error %></h1>
            <% } %>
        </header>
        <main>
    