<link rel="stylesheet" type="text/css" href="/stylesheets/index/errorHandler.css">

<div class="errorHandler">
    <h1>something went wrong...</h1>
    <div class="head">
        <div class="eyes">
            <div class="eye">XD<div class="eyebrow"></div></div>
            <div class="eye">XD<div class="eyebrow"></div></div>
        </div>
        <div class="lips"></div>
    </div>
</div>
