<%- include ("../partials/header") %>


<link rel="stylesheet" type="text/css" href="/stylesheets/index/home.css">


<div class="home">
    <div><img src="/images/home/home1.jpg" /></div>
    <div><img src="/images/home/home2.jpg" /></div>
    <div><img src="/images/home/home3.jpg" /></div>
    <div><img src="/images/home/home4.jpg" /></div>
    <div><img src="/images/home/home5.jpg" /></div>
    <div><img src="/images/home/home6.jpg" /></div>
</div>

<a href="/register" ><i class="fas fa-arrow-left"></i>&nbspClick to Sign Up!</a>
<a href="/login" >Click to Log In!&nbsp<i class="fas fa-arrow-right"></i></a>



<%- include ("../partials/footer") %>