<%- include ("../partials/header") %>


<form action="/resetPassword/<%= key %>/user/<%= userId %>" method="POST" class="inputForm">
    <div class="formGroupTitle">
        <h1>Reset Password</h1>
    </div>
    <div class="formGroup">
        <label>New Password</label>
        <input name="newPassword" type="password" />
    </div>
    <div class="formGroup">
        <label>Repeat Password</label>
        <input name="newPasswordRepeat" type="password" />
    </div>
    <div class="formGroupSubmit">
        <input type="submit" value="Reset" />
    </div>
</form>


<%- include ("../partials/footer") %>