* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex-shrink: 0;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

nav {
    width: 70%;
    height: 50px;
    margin: 5px;
    margin-top: 50px;
    background-color: rgb(54, 52, 52);
    color: rgb(253, 253, 253);
    border-radius: 25px;
    font-family: "Balsamiq Sans";
    -webkit-box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    transition: border-radius 0.15s linear;
    transition-delay: 0.35s;
}

.navShowMobileList {
    border-bottom-right-radius: 0;
    transition: border-radius 0.15s linear;
    transition-delay: 0;
}

.navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 40px;
}

.navList li a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.navList li a:hover {
    background-color: transparent;
    border-bottom: 3px solid white;
    border-radius: 7.5px;
}

.navList input {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    font-family: inherit;

}

.navList input:hover, .navList a:hover {
    cursor: pointer;
    background-color: darkblue;
}

.collapse {
    display: none;
    margin: 0 15px;
    height: 50px;
}

.brand {
    display: flex;
}

#navButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 60px;
    height: 80%;
    cursor: pointer;
}

#navButton:focus {
    outline: none;
}

#navButton div {
    border: 2.5px solid rgb(54, 52, 52);
    border-radius: 5px;
    display: block;
    width: 40px;
}

#iconBrand {
    line-height: 40px;
    margin: 5px;
}

.mobileDevContainer {
    position: absolute;
    display: none;
    top: 90%;
    right: 15%;
    background-color: rgb(54, 52, 52);
    -webkit-box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    box-shadow: 9px 9px 24px -10px rgba(0,0,0,0.65);
    border-radius: 0 0 25px 25px;
    height: 0;
    transition: height 0.25s linear;
    transition-delay: 0.15s;
}

.mobileDevContainerVisible {
    height: 125%;
}

.mobileDevList {
    list-style: none;
    padding: 0 20px;
    opacity: 0;
    transition: opacity 0.20s ease;
}

.mobileDevList li {
    margin: 5px 0;
}

.mobileDevList li a {
    font-family: "Balsamiq Sans";
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

.mobileDevList li a:hover {
    padding: 0 3px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 5px;
}

.mobileDevListVisible {
    opacity: 1;
}

.loginPopUp {
    position: absolute;
    width: 75px;
    height: 75px;
    border-bottom-right-radius: 100%;
    top: 0;
    left: 0;
    background-color: rgb(54, 52, 52);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transition: height 0.15s linear, width 0.15s linear, border-radius 0.15s linear;

    -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.5);
}

.loginPopUp:hover {
    width: 155px;
    height: 155px;
    border-bottom-right-radius: 70%;
}

.loginPopUp i {
    color: white;
    font-size: 1.75rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
}

#loginPopUpIconHover {
    display: none;
}

.loginPopUpInfo {
    padding-left: 0.5rem;
    opacity: 0;
    transition: opacity 0s linear;
    color: white;
    font-family: "Roboto";
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
}

.loginPopUpInfoHover {
    opacity: 1;
    transition: opacity 0.15s linear;
    transition-delay: 0.15s;
    pointer-events: all;
}

.loginPopUpInfo a {
    margin-bottom: 0.25rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.loginPopUpInfo a i {
    font-size: 0.5rem;
    padding: 0;
    padding-right: 0.5em;
}

#loginPopUpInfoIconHover {
    color: black;
}

.loginPopUpInfo form {
    margin-top: 1rem;
}

.loginPopUpInfo a {
    text-decoration: none;
    color: white;
}

.loginPopUpInfo input {
    background-color: rgb(255, 177, 177);
    border: 1px solid white;
    border-radius: 0.5em;
    color: white;
    font-family: "Roboto";
    cursor: pointer;
    padding: 0.25em;
    font-weight: bold;
}

.loginPopUpInfo input:hover {
    color: black;
}

.userWelcome {
    font-size: 1rem;
    border-bottom: 1px solid white;
}

.usernameLabel {
    color: rgb(196, 218, 255);
}

@media (max-width: 1000px) {
    .collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navList {
        display: none;
    }

    .mobileDevContainer {
        display: block;
    }
}

@media (max-width: 750px) {
    .loginPopUp {
        display: none;
    }
}
