<%- include ("../partials/header") %>

<input type="text" value="search..." />
<div>
    <% tournaments.forEach(tournament => { %>
        <p><%= tournament.name %></p>
        <a href="/tournaments/<%= tournament.id %>">More...</a>
    <% }) %>
</div>


<%- include ("../partials/footer") %>