main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputForm {
    width: 80vw;
    border: 1px solid rgba(54, 52, 52, 0.3);
    margin-top: 10%;
    padding: 2.5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.5);
    font-family: "Balsamiq Sans";
    font-weight: 600;
    font-size: 16px;
    max-width: 500px;
    max-height: 400px;
    
}

.inputForm h1 {
    text-align: center;
    font-size: 2em;
}

.formGroup {
    border: 1px solid rgba(54, 52, 52, 0.2);
    border-radius: 15px;
    background-color: rgb(245, 245, 245);
    padding: 2.5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
}

.formGroup label {
    font-size: 1.5em;
}

.formGroup input {
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1em;
    width: 65%;
}

.formGroup input:focus, .formGroupSubmit input:focus {
    outline: none;
}

.formGroupSubmit input {
    background-color: rgb(54, 52, 52);
    border: 1px solid black;
    padding: 7.5px;
    margin-top: 15%;
    margin-bottom: 10px;
    color: white;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.5);
    transition: color 0.15s linear, background-color 0.15s linear;
}

.formGroupSubmit input:hover {
    background-color: white;
    color: rgb(54, 52, 52);
}

@media (max-width: 750px) {
    .inputForm {
        justify-content: center;
    }

    .formGroup {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .formGroup input {
        width: 100%;
    }

}