.temp {
    display: none;
}

.tournamentShowMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 70vw;
    margin-top: 50px;
    background-color: white;
    font-family: "Balsamiq Sans";
}

.tournamentShowMain section[class = "tournamentInfo"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tournamentShowMain section .tournamentInfoSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin: 5px;
}

.tournamentShowMain section .tournamentInfoSection label {
    border-radius: 5vw 0 0 5vw;
    border: 0.5px solid white;
    border-right: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(54, 52, 52);
    white-space: nowrap;
    transition: border-radius 0.25s linear;
    z-index: 100;
}

.tournamentShowMain section .tournamentInfoSection label:hover {
    border-radius: 5vw 0 0 5vw;
}

.tournamentShowMain section .tournamentInfoSection label div {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 100%;
    background-color: white;
    transition: background-color 0.25s linear;
}

.tournamentShowMain section .tournamentInfoSection label div[class = "labelDotHover"] {
    background-color: rgb(178, 252, 162);
}

.tournamentShowMain section .tournamentInfoSection p {
    width: 0;
    margin: 0;
    padding: 5px;
    color: rgba(255, 255, 255, 0);
    border: 0.5px solid white;
    border-left: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(54, 52, 52);
    border-radius: 0 5vw 5vw 0;
    transition: width 0.25s linear, color 0.25s linear;
    overflow: auto;
    z-index: 100;
}

.tournamentShowMain section .tournamentInfoSection p[class = "tournamentInfoSectionHover"] {
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.tournamentShowMain .tournamentShowSignUp form {
    z-index: 100;
}

.tournamentShowMain .tournamentShowSignUp form input {
    border: 1px solid white;
    background-color: rgb(139, 175, 252);
    border-radius: 5vw;
    padding: 5px;
    margin: 30px;
    color: white;
    font-family: "Balsamiq Sans";
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.15s linear;
    -webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
}

.tournamentShowMain .tournamentShowSignUp form input:hover {
    background-color: rgb(190, 209, 250);
    color: white;
}

.tournamentShowImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100%;
    -webkit-box-shadow: -6px 21px 55px 11px rgba(0,0,0,0.35);
    -moz-box-shadow: -6px 21px 55px 11px rgba(0,0,0,0.35);
    box-shadow: -6px 21px 55px 11px rgba(0,0,0,0.35);
    border-bottom: 2px solid black;
}

.tournamentShowImage img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.tournamentShowImageShadow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 6px -4px 55px 19px rgba(0,0,0,0.55);
    -moz-box-shadow: inset 6px -4px 55px 19px rgba(0,0,0,0.55);
    box-shadow: inset 6px -4px 55px 19px rgba(0,0,0,0.55);
}

.tournamentShowSponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: opacity 4s ease-out;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 30px;
}

.tournamentShowSponsorsVisible {
    opacity: 1;
}

.tournamentShowSponsors h1 {
    font-size: 1.5rem;
}

.tournamentShowSponsors .tournamentShowSponsorsImages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tournamentShowSponsors .tournamentShowSponsorsImages img {
    height: 150px;
    width: 150px;
    margin: 5px 15px;
    border-radius: 100%;
    border: 1px solid black;
    -webkit-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 47px -9px rgba(0,0,0,0.6);
    transition: box-shadow 0.25s linear, border-color 0.25s linear;
}

.tournamentShowSponsors .tournamentShowSponsorsImages img:hover {
    -webkit-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.5);
    border-color: rgb(97, 97, 97);
}

.tournamentShowSignUp {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.tournamentShowResults {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tournamentShowResults h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.tournamentShowLadder {
    display: flex;
    width: 100%;
    justify-content: flex-start; 
    align-items: stretch;
    overflow-x: auto;
    padding: 50px;
    padding-bottom: 50px;
    font-family: "Roboto";
}

.tournamentShowLadder .tournamentRound {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tournamentShowLadder .tournamentRound .tournamentDuel {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
    width: 175px;
    margin: 20px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
    box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
}

.tournamentShowLadder .tournamentRound .tournamentDuel .pickWinner {
    position: absolute;
    width: 175px;
    height: 25px;
    top: -30px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 175, 252);
}

.tournamentShowLadder .tournamentRound .tournamentDuel .pickWinner form {
    display: none;
}

.tournamentShowLadder .tournamentRound .firstOpponent, .tournamentShowLadder .tournamentRound .secondOpponent  {
    height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tournamentShowLadder .tournamentRound .secondOpponent {
    border-bottom: none;
}

.tournamentShowLadder .tournamentRound .winner {
    width: 32px;
    height: 32px;
    background-color: rgb(170, 255, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 0 0;
    border-left: 1px solid #aaa;
}

.tournamentShowLadder .tournamentRound .loser {
    width: 32px;
    height: 32px;
    background-color: rgb(255, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 0;
    border-left: 1px solid #aaa;
}

.tournamentShowLadder .tournamentRound .noWinner {
    width: 32px;
    height: 32px;
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 0 0;
    border-left: 1px solid #aaa;
}

.tournamentShowLadder .tournamentRound i {
    font-size: 20px;
    color: white;
}

.tournamentShowLadder .tournamentRound .firstOpponent p, .tournamentShowLadder .tournamentRound .secondOpponent p {
    margin: 0;
    padding: 5px;
    overflow-x: hidden;
}

.tournamentShowLadder .tournamentColumn {
    justify-content: stretch;
    border: none;
}

.tournamentShowLadder .tournamentColumn .tournamentDuel {
    margin: 0;
    height: 100%;
    width: 50px;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.tournamentShowLadder .tournamentColumn .firstOpponent, .tournamentShowLadder .tournamentColumn .secondOpponent {
    border: none;    
    padding: 15px;
}

.tournamentShowLadder .tournamentRound:nth-child(3n - 1) .tournamentDuel .firstOpponent {
    border-bottom: 2px solid rgb(82, 82, 82);
}

.tournamentShowLadder .tournamentRound:nth-child(3n - 1) .tournamentDuel:nth-child(2n) .firstOpponent {
    border-right: 2px solid rgb(82, 82, 82);
}

.tournamentShowLadder .tournamentRound:nth-child(3n - 1) .tournamentDuel:nth-child(2n + 1) .secondOpponent {
    border-right: 2px solid rgb(82, 82, 82);
}

.tournamentShowLadder .tournamentRound:nth-child(3n) .tournamentDuel:nth-child(2n - 1) .secondOpponent {
    border-bottom: 2px solid rgb(82, 82, 82);
}

.showWinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.showWinner div {
    width: 100px;
    border-bottom: 2px solid rgb(82, 82, 82);
}

.showWinner .winnerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
    box-shadow: 0px 4px 47px 13px rgba(0,0,0,0.05);
    width: unset;
}

.showWinner p {
    padding: 5px 10px;
    border-right: 1px solid #aaa;
}

.showWinner i {
    padding: 5px;
    color: gold;
    font-size: 31px;
}

